@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="form-group">
    Trivago
</div>
<br />
<div class="form-group">
    Setur
</div>
<br />
<div class="form-group">
    Pegasus
</div>