@model ForgetPasswordViewModel
@{
    Layout = null;
}

<h2>Şifre Yenileme Sayfası</h2>
<a href="c:\users\emirt\onedrive\masaüstü\traversal\traversal\wwwroot\lib\bootstrap\dist\css\bootstrap.min.css.map">c:\users\emirt\onedrive\masaüstü\traversal\traversal\wwwroot\lib\bootstrap\dist\css\bootstrap.min.css.map</a>
<link href="c:\users\emirt\onedrive\masaüstü\traversal\traversal\wwwroot\lib\bootstrap\dist\css\bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br />
    <br />
    <form method="post">
        <label>Mail Adresinizi Giriniz</label>
        <input type="text" class="form-control" asp-for="Mail" />
        <br />
        <button class="btn btn-primary">Şifre Yenileme Linki Gönder</button>
    </form>
</div>